/*!
 * VIS TV v0.0.1
 */
.m-r-5 {
  margin-right: 5px;
}
.m-l-20 {
  margin-left: 20px;
}
.min-w-100 {
  min-width: 100px;
}
.text-ellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ov-h {
  overflow: hidden !important;
}
.word-break {
  word-break: break-all;
}
html,
body,
#wrapper {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f8f8f8;
}
input[type="file"].form-control {
  height: auto;
}
#wrapper {
  width: 100%;
  background: #fff;
}
#wrapper:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 100%;
  background: #1c2f36;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
}
.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links lilast-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu lilast-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.navbar.navbar-admin-bar {
  background: #fff;
}
.navbar .navbar__logo {
  display: block;
  padding: 5px;
  margin: 0 8px;
}
.navbar .navbar__logo .navbar__logo-name {
  font-size: 1.7em;
  line-height: 40px;
  margin-left: 10px;
}
.navbar .navbar__logo > img {
  width: 40px;
  height: 40px;
}
.sidebar a {
  text-decoration: none;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar ul li {
  text-align: center;
}
.sidebar ul li a.active {
  background-color: #efefef;
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #1c2f36;
}
.sidebar-nav .metismenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar-nav .metismenu > li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.sidebar-nav .metismenu i.fa {
  font-size: 18px;
}
.sidebar-nav .metismenu a,
.sidebar-nav .metismenu span {
  position: relative;
  display: block;
  padding: 15px;
  text-align: center;
  color: #dedede;
  outline-width: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.sidebar-nav .metismenu .nav-second-level a,
.sidebar-nav .metismenu .nav-second-level span {
  text-align: left !important;
}
.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:active {
  color: #fff;
  text-decoration: none;
  background: #325460;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #47a347;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #cf312d;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #ec9922;
}
.panel-categories .panel-body {
  padding: 5px 10px;
}
.panel-categories .panel-body .list-group {
  margin: 0;
}
.panel-categories .panel-body .list-group-item {
  margin-bottom: 5px;
  border-radius: 0;
}
.panel-categories .panel-body .list-group-item .action-buttons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  background: #ddd;
}
.video__album > .video {
  margin-bottom: 25px;
}
.video__album > .video article {
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}
.video__album > .video article img {
  height: 210px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video__album > .video .video__info {
  padding: 15px;
}
.video__album > .video footer {
  border-top: 1px solid #d9d9d9;
}
.video__album > .video footer .footer__buttons {
  border-left: 1px solid #d9d9d9;
}
.video__album > .video footer .footer__buttons .video-btn__delimetr--right {
  border-right: 1px solid #d9d9d9;
  margin-right: -4px;
}
.video__album > .video footer .footer__buttons .btn.btn-link {
  color: #8d929a;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.video__album > .video footer .footer__buttons .btn.btn-link:hover {
  background: #f7f7f7;
}
.video__album > .video footer .footer__buttons form {
  display: inline-block !important;
}
.image-preview-input,
.file-custom-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file],
.file-custom-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: "alpha(opacity=0)";
}
.image-preview-input .image-preview-input-title,
.file-custom-input .image-preview-input-title,
.image-preview-input .file-custom-input-input-title,
.file-custom-input .file-custom-input-input-title {
  margin-left: 2px;
}
.tile-stats {
  position: relative;
  display: block;
  background: #303641;
  padding: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.tile-statshover {
  background: #252a32;
}
.tile-stats .icon {
  color: rgba(0,0,0,0.1);
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
}
.tile-stats .icon i {
  font-size: 100px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
.tile-stats .icon ibefore {
  margin: 0;
  padding: 0;
  line-height: 0;
}
.tile-stats .num {
  position: relative;
  color: #fff;
  z-index: 5;
  margin: 0;
  padding: 0;
  font-size: 38px;
  font-weight: bold;
}
.tile-stats h3 {
  position: relative;
  color: #fff;
  z-index: 5;
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-top: 5px;
}
.tile-stats p {
  position: relative;
  color: #fff;
  z-index: 5;
  margin: 0;
  padding: 0;
  font-size: 11px;
  margin-top: 5px;
}
.tile-stats.tile-red {
  background: #f56954;
}
.tile-stats.tile-redhover {
  background: #f4543c;
}
.tile-stats.tile-red .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-red .num {
  color: #fff;
}
.tile-stats.tile-red h3 {
  color: #fff;
}
.tile-stats.tile-red p {
  color: #fff;
}
.tile-stats.tile-green {
  background: #00a65a;
}
.tile-stats.tile-greenhover {
  background: #008d4c;
}
.tile-stats.tile-green .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-green .num {
  color: #fff;
}
.tile-stats.tile-green h3 {
  color: #fff;
}
.tile-stats.tile-green p {
  color: #fff;
}
.tile-stats.tile-blue {
  background: #0073b7;
}
.tile-stats.tile-bluehover {
  background: #00639e;
}
.tile-stats.tile-blue .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-blue .num {
  color: #fff;
}
.tile-stats.tile-blue h3 {
  color: #fff;
}
.tile-stats.tile-blue p {
  color: #fff;
}
.tile-stats.tile-aqua {
  background: #00c0ef;
}
.tile-stats.tile-aquahover {
  background: #00acd6;
}
.tile-stats.tile-aqua .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-aqua .num {
  color: #fff;
}
.tile-stats.tile-aqua h3 {
  color: #fff;
}
.tile-stats.tile-aqua p {
  color: #fff;
}
.tile-stats.tile-cyan {
  background: #00b29e;
}
.tile-stats.tile-cyanhover {
  background: #009987;
}
.tile-stats.tile-cyan .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-cyan .num {
  color: #fff;
}
.tile-stats.tile-cyan h3 {
  color: #fff;
}
.tile-stats.tile-cyan p {
  color: #fff;
}
.tile-stats.tile-purple {
  background: #ba79cb;
}
.tile-stats.tile-purplehover {
  background: #b167c4;
}
.tile-stats.tile-purple .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-purple .num {
  color: #fff;
}
.tile-stats.tile-purple h3 {
  color: #fff;
}
.tile-stats.tile-purple p {
  color: #fff;
}
.tile-stats.tile-pink {
  background: #ec3b83;
}
.tile-stats.tile-pinkhover {
  background: #ea2474;
}
.tile-stats.tile-pink .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-pink .num {
  color: #fff;
}
.tile-stats.tile-pink h3 {
  color: #fff;
}
.tile-stats.tile-pink p {
  color: #fff;
}
.tile-stats.tile-orange {
  background: #ffa812;
}
.tile-stats.tile-orangehover {
  background: #f89d00;
}
.tile-stats.tile-orange .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-orange .num {
  color: #fff;
}
.tile-stats.tile-orange h3 {
  color: #fff;
}
.tile-stats.tile-orange p {
  color: #fff;
}
.tile-stats.tile-brown {
  background: #6c541e;
}
.tile-stats.tile-brownhover {
  background: #584418;
}
.tile-stats.tile-brown .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-brown .num {
  color: #fff;
}
.tile-stats.tile-brown h3 {
  color: #fff;
}
.tile-stats.tile-brown p {
  color: #fff;
}
.tile-stats.tile-plum {
  background: #701c1c;
}
.tile-stats.tile-plumhover {
  background: #5c1717;
}
.tile-stats.tile-plum .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-plum .num {
  color: #fff;
}
.tile-stats.tile-plum h3 {
  color: #fff;
}
.tile-stats.tile-plum p {
  color: #fff;
}
.tile-stats.tile-gray {
  background: #f5f5f5;
}
.tile-stats.tile-grayhover {
  background: #e8e8e8;
}
.tile-stats.tile-gray .icon {
  color: rgba(0,0,0,0.1);
}
.tile-stats.tile-gray .num {
  color: #8f8f8f;
}
.tile-stats.tile-gray h3 {
  color: #8f8f8f;
}
.tile-stats.tile-gray p {
  color: #8f8f8f;
}
.tile-stats.tile-white {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-whitehover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white .num {
  color: #303641;
}
.tile-stats.tile-white h3 {
  color: #303641;
}
.tile-stats.tile-white p {
  color: #303641;
}
.tile-stats.tile-white-red {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-redhover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-red .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-red .num {
  color: #f56954;
}
.tile-stats.tile-white-red h3 {
  color: #f56954;
}
.tile-stats.tile-white-red p {
  color: #f56954;
}
.tile-stats.tile-white-green {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-greenhover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-green .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-green .num {
  color: #00a65a;
}
.tile-stats.tile-white-green h3 {
  color: #00a65a;
}
.tile-stats.tile-white-green p {
  color: #00a65a;
}
.tile-stats.tile-white-blue {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-bluehover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-blue .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-blue .num {
  color: #0073b7;
}
.tile-stats.tile-white-blue h3 {
  color: #0073b7;
}
.tile-stats.tile-white-blue p {
  color: #0073b7;
}
.tile-stats.tile-white-aqua {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-aquahover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-aqua .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-aqua .num {
  color: #00c0ef;
}
.tile-stats.tile-white-aqua h3 {
  color: #00c0ef;
}
.tile-stats.tile-white-aqua p {
  color: #00c0ef;
}
.tile-stats.tile-white-cyan {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-cyanhover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-cyan .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-cyan .num {
  color: #00b29e;
}
.tile-stats.tile-white-cyan h3 {
  color: #00b29e;
}
.tile-stats.tile-white-cyan p {
  color: #00b29e;
}
.tile-stats.tile-white-purple {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-purplehover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-purple .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-purple .num {
  color: #ba79cb;
}
.tile-stats.tile-white-purple h3 {
  color: #ba79cb;
}
.tile-stats.tile-white-purple p {
  color: #ba79cb;
}
.tile-stats.tile-white-pink {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-pinkhover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-pink .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-pink .num {
  color: #ec3b83;
}
.tile-stats.tile-white-pink h3 {
  color: #ec3b83;
}
.tile-stats.tile-white-pink p {
  color: #ec3b83;
}
.tile-stats.tile-white-orange {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-orangehover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-orange .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-orange .num {
  color: #ffa812;
}
.tile-stats.tile-white-orange h3 {
  color: #ffa812;
}
.tile-stats.tile-white-orange p {
  color: #ffa812;
}
.tile-stats.tile-white-brown {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-brownhover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-brown .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-brown .num {
  color: #6c541e;
}
.tile-stats.tile-white-brown h3 {
  color: #6c541e;
}
.tile-stats.tile-white-brown p {
  color: #6c541e;
}
.tile-stats.tile-white-plum {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-plumhover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-plum .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-plum .num {
  color: #701c1c;
}
.tile-stats.tile-white-plum h3 {
  color: #701c1c;
}
.tile-stats.tile-white-plum p {
  color: #701c1c;
}
.tile-stats.tile-white-gray {
  background: #fff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-grayhover {
  background: #f2f2f2;
  background-color: #fafafa;
}
.tile-stats.tile-white-gray .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-gray .num {
  color: #8f8f8f;
}
.tile-stats.tile-white-gray h3 {
  color: #8f8f8f;
}
.tile-stats.tile-white-gray p {
  color: #8f8f8f;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 65px;
    padding: 0 30px;
    border-left: 1px solid #e8e8e8;
  }
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 65px;
    margin-top: 51px;
  }
  .sidebar-nav .metismenu .nav.nav-second-level {
    display: none;
  }
  .sidebar-nav .metismenu li {
    position: relative;
  }
  .sidebar-nav .metismenu > li > ul {
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 200px;
    z-index: 1001;
  }
  .sidebar-nav .metismenu > li:hover > ul {
    height: auto !important;
  }
  .sidebar-nav .metismenu > li:hover > a.has-arrow:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .sidebar-nav .metismenu > li:hover > ul,
  .sidebar-nav .metismenu > li:hover > ul.collapse {
    display: block;
  }
}
@media (max-width: 767px) {
  .sidebar-nav .metismenu a,
  .sidebar-nav .metismenu span {
    text-align: left !important;
  }
}
@media (max-width: 991px) {
  .video__album > .video img {
    height: 150px !important;
  }
}
@media (min-width: 1400px) {
  .video__album > .video img {
    height: 300px !important;
  }
}
