// Mixins



//helpers
.m-r-5
	margin-right 5px

.m-l-20
	margin-left 20px
	
.min-w-100
	min-width 100px

.text-ellipsis
	display block
	text-overflow ellipsis
	white-space nowrap
	overflow hidden

.ov-h
	overflow hidden !important

.word-break
	word-break break-all