.video__album
	& > .video
		margin-bottom 25px
		& article
			box-shadow  0px 0px 1px 0px rgba(0,0,0,0.75)
			& img
				height 210px
				width 100%
				object-fit cover
		& .video__info
			padding 15px
		& footer
			$border-color = darken(#fff, 15%)
			
			border-top 1px solid $border-color
			& .footer__buttons
				border-left 1px solid $border-color
				& .btn.btn-link
					color #8d929a
					transition 0.7s
					&:hover
						background darken(#fff, 3%)
				form
					display inline-block !important
		
@media(max-width: 991px)
	.video__album > .video img
		height 150px !important
		
@media(min-width: 1400px)
	.video__album > .video img
		height 300px !important